body {
    margin: 0;
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

ul {
    background-color: #f33;
}

h3 {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    margin-top: 0;
    font-size: small;
}


#form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

#input:focus {
    outline: none;
}

#form>button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages>li {
    padding: 0.5rem 1rem;
}

#messages>li:nth-child(odd) {
    background: #efefef;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, min(10vw, 10vh));
    grid-template-rows: repeat(8, min(10vw, 10vh));
    gap: min(0.5vw, 0.5vh);
    background-color: wheat;
    width: min(83.5vw, 83.5vh);
    height: min(83.5vw, 83.5vh);
    padding: min(3vw, 3vh);
    font-family: 'Times New Roman', Times, serif;
}

.field {
    color: white;
    width: min(10vw, 10vh);
    height: min(10vw, 10vh);
    font-size: calc(min(10vw, 10vh)*0.99);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                           supported by Chrome, Edge, Opera and Firefox */
}

.selected {
    /* filter: sepia(250%); */
    border: min(0.5vw, 0.5vh) solid blue;
    margin: max(-0.5vw, -0.5vh);
    z-index: 100;
}

.valid {
    /* filter: sepia(250%); */
    border: min(0.5vw, 0.5vh) solid rgba(0, 128, 0, 0.387);
    background-color: lightgreen;
    margin: max(-0.5vw, -0.5vh);
    z-index: 100;
}

.check {
    /* filter: sepia(250%); */
    border: min(0.5vw, 0.5vh) solid lightcoral;
    background-color: firebrick;
    margin: max(-0.5vw, -0.5vh);
    z-index: 100;
}

.black {
    background-color: darkgray;
}

.white {
    background-color: saddlebrown;
}

.fblack {
    color: #111;
}

.fwhite {
    color: #eee;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

pre {
    color: white
}